{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "your_storage_connection_string",
    "FUNCTIONS_WORKER_RUNTIME": "java",
    
    "AZURE_CLIENT_ID": "your_azure_client_id",
    "AZURE_CLIENT_SECRET": "your_azure_client_secret", 
    "AZURE_TENANT_ID": "your_azure_tenant_id",
    
    "AZURE_OPENAI_ENDPOINT": "https://your-openai-resource.openai.azure.com/",
    "AZURE_OPENAI_API_KEY": "your_openai_api_key",
    "AZURE_OPENAI_DEPLOYMENT_NAME": "your_embedding_model_deployment",
    "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "your_chat_model_deployment",
    
    "AZURE_SEARCH_ENDPOINT": "https://your-search-service.search.windows.net",
    "AZURE_SEARCH_API_KEY": "your_search_api_key",
    "AZURE_SEARCH_INDEX_NAME": "aem-content-index",
    
    "AEM_DATA_EXPORT_URL": "https://your-aem-instance.com/bin/export/data",
    "AEM_USERNAME": "your_aem_username",
    "AEM_PASSWORD": "your_aem_password",
    
    "SYNC_SCHEDULE": "0 0 */1 * * *"
  }
}